@import "../../variables.scss";

.PageContent {
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &.bg-2 {
    background: $background;
  }
}
